# =============== #
# Unity generated #
# =============== #
Tmp/*
Temp/*
Obj/*
UnityGenerated/*
Library/*
Build/*
Builds/*
Logs/*

# ===================================== #
# Store Assets #
# ===================================== #
Assets/External
Assets/ScriptableObjects/Player/Abilities/Blastback.meta


# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/*
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln*
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db